/* BUTTONS */

.btn-primary {
    background-color: #eb5771;
    border-radius: 40px;
    padding: 8px;
    text-decoration: none;
    color: #FAF5E5;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #FAF5E5;
    color: #eb5771;
}

.btn-secondary {
    background-color: #FFFFE7;
    border-radius: 40px;
    padding: 8px;
    text-decoration: none;
    color: #E84A5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}