/* BUTTONS */

.btn-primary {
    border: 5px solid #E84A5F;
    background-color: #FFFFE7;
    border-radius: 35px;
    padding: 8px;
    text-decoration: none;
    color: #E84A5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #E84A5F;
    color: #FFFFE7;
    border: 5px, solid #FFFFE7;
}

.btn-secondary {
    border: 5px solid #E84A5F;
    background-color: #FFFFE7;
    border-radius: 35px;
    padding: 8px;
    text-decoration: none;
    color: #E84A5F;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; 
}