
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    background-color: #2D4C2B ;
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, minmax(100px, auto));
    position: relative;

}


#grid {
    position: absolute;
    display: none;
    grid-template-columns: repeat(20, 1fr);
    width: 100%;
    height: 100%;

}

#grid p {
    border: 1px solid #000;
    margin: 0;
    opacity: 0.2;

}

header {
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

header img {
  width: 125%;
  right: 120px;
  top: 15px;
  position: relative;

}

header nav {
  grid-column: 6/13;
  align-self: center;
  grid-row: 1/2;

}

header nav ul {
  margin: 0;
  padding: 0;
  float: right;

}

.languages{
  position: relative;
  right: 1050px;
  
}

.button {
  padding: 5px 15px;
  background-color: #FAF5E5;
  display: inline-block;
  border-radius: 25px;
  text-decoration: none;
  color: #86397f;
  font-weight: 600;

}

header nav ul li {
  display: inline-block;
  padding-left: 10px;
  margin-inline-start: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;

}

.video-container {
  margin: 20px auto;
  max-width: 800px;
  position: absolute;
  padding-bottom: 150px;
  top: 130px;
  left: 45px;
  padding-top: 200px;
  z-index: 30;
}

video {
  width: 125%;
  height: auto;
  border: 5px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  top: 25px;
  transition: color 0.5s, transform 0.5s;
  transition-timing-function: ease-in;

}

header nav ul li a:hover {
  transform: translateY(-10px);
  color: #86397f;

}


.pages {
  position: relative;
  top: 40px;
  left: 100px;

}

.Logo {
  size: 25px;
}

.english {
  text-decoration: underline;
}



@media screen and (max-width: 769px) {

  #menuToggle
  {
    display: inline-block !important;
    /* You can also use relative/absolute here if you want to stay on the top */
    position: fixed;
    top: 50px;
    left: 50px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }

  .languages {
    display: none;
  }

  .pages {
    display: none;
  }

  header img {
  grid-column: 11/12;
  left: 1170% !important;
  
  }

  header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
  }


  ul {
    list-style: none;
    font-weight: bold;

  }

  .bg-green {
    background-color: #86397f; 
    color: white;
    padding: 20px;
    padding-right: 280px !important;
    padding-left: 50px !important;
    position: absolute;
  }

  .wrap {
    max-width: 1342px;
    margin: 0 auto;
    padding: 10px;
  }
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .footer-bottom img {
    max-width: 150px;
    height: auto;
  }
  
  .contact-info {
    position: absolute;
    left: 640px !important;
    width: 100% !important;
  }
  
  .contact-info h3 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .contact-info p {
    margin: 0 0 10px;
  }
  
  .contact-info a {
    color: #FAF5E5;
    text-decoration: none;
  }
  
  .house {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAF5E5;
  }
  
  .regular {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF5E5;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-right nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .footer-right nav ul li {
    margin-bottom: 10px;
  }
  
  .footer-right nav ul li a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
    top: 50px !important;
    left: 125px !important;
    position: relative;
  
  }
  
  .social {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .social img {
    width: 50%;
  }
  
  .social-facebook {
  position: relative;
  bottom: 100px;
  left: 50px;
  }
  
  .social-insta {
    position: relative;
    bottom: 100px;
  }
  
    .social-youtube {
      position: relative;
      right: 430px;
  
        }
  
  .social-vimeo {
    position: relative;
    right: 160px;
  
     }
  
  .social li {
    list-style: none;
  }
  
  .social a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
  }
  
  .social a span {
    display: none; /* Hides the text, only shows icons */
  }

  .container {
    width: 35% !important;
    height: 100vh;
    right: 650px !important;
    top: 500% !important;
    position: absolute;

  }

  .title {
    font-size: 35pt;
    text-align: center;
    position: relative;
    left: 200px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FAF5E5;
  font-family: 'Poppins', sans-serif;
}

.pink {
    color: #ff809b;
}

.textintro {
    color: #FAF5E5;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 50%;
    left: 150px !important;
    top: 20px !important;

}

.textintro2 {
    color: #FAF5E5;
    font-family: 'Poppins', sans-serif;
    width: 40%;
    position: absolute;
    top: 135px !important;
    left: 700px !important;

}

.underlined {
    color: #ff809b;
    text-decoration: underline;
}

.bxl {
    position: absolute;
    width: 20%;
    right: 860px !important;
    top: 300px !important;
    z-index: 60;
}

.starsign {
    position: absolute;
    width: 10%;
    right: 50px;
    top: 500px;
    z-index: 60;
}

.enveloppe {
    position: absolute;
    width: 20%;
    right: 875px !important;
    top:600px !important;
    z-index: 60;
}

.headphones {
    position: absolute;
    width: 20%;
    right: 10px !important;
    top: 815px !important;
    z-index: 60;
}

.park {
    position: absolute;
    width: 25% !important;
    right: 650px !important;
    top: 955px !important;
    z-index: 60;
}

.parktext {
    color: #FAF5E5;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    position: absolute;
    width: 24%;
    right: 140px;
    top:975px !important;
    font-size: 15pt;

  }

.video-container {
  margin: 20px auto;
  max-width: 800px;
  position: absolute;
  padding-bottom: 150px;
  top: 170px;
  left: 250px !important;
  padding-top: 200px;
  z-index: 30;
  }

video {
  width: 100% !important;
  height: auto;
  border: 5px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

}


@media screen and (max-width: 1092px) {

  header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
  }
  
  header img {
    width: 150%;
    left: 50px;
    top: 15px;
    position: relative;
  
  }
  
  header nav {
    grid-column: 6/12;
    align-self: center;
    grid-row: 1/2;
  
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    float: right;
  
  }
  
  .languages{
    position: relative;
    right: 725px !important;
    
  }
  
  header nav ul li {
    display: inline-block;
    padding-left: 10px;
    margin-inline-start: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    top: 5px;
  
  }
  
  .pages {
    position: relative;
    top: 40px;
    left: 80px;
  }

  .bg-green {
    background-color: #86397f; 
    color: white;
    padding: 20px;
    width: 120% !important;
    position: absolute;
    left: 25px;
  }
  
  .wrap {
    max-width: 1342px;
    margin: 0 auto;
    padding: 10px;
  }
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .footer-bottom img {
    max-width: 150px;
    height: auto;
  }
  
  .contact-info {
    position: absolute;
    right: 800px;
  }
  
  .contact-info h3 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .contact-info p {
    margin: 0 0 10px;
  }
  
  .contact-info a {
    color: #FAF5E5;
    text-decoration: none;
  }
  
  .house {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAF5E5;
  }
  
  .regular {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF5E5;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-right nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .footer-right nav ul li {
    margin-bottom: 10px;
  }
  
  .footer-right nav ul li a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
    right: 50px;
    position: relative;
  
  }
  
  .social {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .social img {
    width: 50%;
  }
  
  .social-facebook {
  position: relative;
  bottom: 100px;
  left: 50px;
  }
  
  .social-insta {
    position: relative;
    bottom: 100px;
  }
  
    .social-youtube {
      position: relative;
      right: 430px;
  
        }
  
  .social-vimeo {
    position: relative;
    right: 160px;
  
     }
  
  .social li {
    list-style: none;
  }
  
  .social a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
  }
  
  .social a span {
    display: none; /* Hides the text, only shows icons */
  }


}


#menuToggle
{
  display: none;
  /* You can also use relative/absolute here if you want to stay on the top */
  position: fixed;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #eb5771;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #86397f;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #eb5771;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #faf5e5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  opacity: 85%;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


.picture img {
  grid-column: 1/13;
  width: 1400%;
  grid-row: 1/4;
  top: 150px;
  right: 125px;
  position: relative;

}

.stickers {
  position: absolute;
  width: 180px; /* Adjust size of the sticker */
  height: 100px;
  background-color: transparent; /* Semi-transparent background for sticker area */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.sticker:hover {
  transform: scale(1.2); /* Slightly enlarge the sticker on hover */
}

.info-box {
  position: absolute;
  top: -80px; /* Adjust the position of the info box */
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 350px;
  background-color: #faf5e5;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info-box img {
  width: 25%;
  position: relative;
  top: 25px;
  border-radius: 20px;

}

.info-box h3 {
  left: 40px;
  position: relative;
  color: #86397f

}

.info-box p {
font-size: small;
top: 50px;

}

.sticker:hover .info-box {
  visibility: visible;
  opacity: 1;
}


.sticker-10years {
  position: absolute;
  width: 280px; /* Adjust size of the sticker */
  height: 275px;
  background-color: transparent; /* Semi-transparent background for sticker area */
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;

}

.sticker-10years:hover {
  transform: scale(1.2); /* Slightly enlarge the sticker on hover */
}

.info-box-10years {
  position: absolute;
  top: -80px; /* Adjust the position of the info box */
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 250px;
  background-color: #faf5e5;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.info-box-10years p {
font-size: small;
top: 50px;

}

.info-box-10years h3 {
  color: #86397f;

}

.sticker-10years:hover .info-box-10years {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1421px) {

  .picture img {
    grid-column: 1/13;
    width: 1000%;
    grid-row: 1/4;
    top: 150px;
    left: 100px;
    position: relative;
  
  }

  header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
  }
  
  header img {
    width: 150%;
    left: 50px;
    top: 15px;
    position: relative;
  
  }
  
  header nav {
    grid-column: 6/12;
    align-self: center;
    grid-row: 1/2;
  
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    float: right;
  
  }
  
  .languages{
    position: relative;
    right: 725px !important;
    
  }
  
  header nav ul li {
    display: inline;
    padding-left: 10px;
    margin-inline-start: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    top: 5px;
  
  }
  
  .pages {
    position: relative;
    top: 40px;
    left: 80px;
  }

  .container {
    width: 90%;
    height: 100vh;
    right: 100px;
    position: absolute;

}

}

@media screen and (max-width: 1201px) {

  .picture img {
    grid-column: 1/13;
    width: 1000%;
    grid-row: 1/4;
    top: 150px;
    left: 100px;
    position: relative;
  
  }

  header {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  
  }
  
  header img {
    width: 160%;
    left: 50px;
    top: 15px;
    position: relative;
  
  }
  
  header nav {
    grid-column: 6/12;
    align-self: center;
    grid-row: 1/2;
  
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    float: right;
  
  }
  
  .languages{
    position: relative;
    right: 675px;
    
  }
  
  header nav ul li {
    display: inline;
    padding-left: 10px;
    margin-inline-start: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
  
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    top: 25px;
  
  }
  
  .pages {
    position: relative;
    top: 40px;
    left: 80px;
  
  }

  .bg-green {
    background-color: #86397f; 
    color: white;
    padding: 20px;
    width: 105%;
    position: absolute;
    left: 25px;
  }
  
  .wrap {
    max-width: 1342px;
    margin: 0 auto;
    padding: 10px;
  }
  
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .footer-bottom img {
    max-width: 150px;
    height: auto;
  }
  
  .contact-info {
    position: absolute;
    right: 800px;
  }
  
  .contact-info h3 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .contact-info p {
    margin: 0 0 10px;
  }
  
  .contact-info a {
    color: #FAF5E5;
    text-decoration: none;
  }
  
  .house {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FAF5E5;
  }
  
  .regular {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FAF5E5;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer-right nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .footer-right nav ul li {
    margin-bottom: 10px;
  }
  
  .footer-right nav ul li a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
    right: 50px;
    position: relative;
  
  }
  
  .social {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .social img {
    width: 50%;
  }
  
  .social-facebook {
  position: relative;
  bottom: 100px;
  left: 50px;
  }
  
  .social-insta {
    position: relative;
    bottom: 100px;
  }
  
    .social-youtube {
      position: relative;
      right: 430px;
  
        }
  
  .social-vimeo {
    position: relative;
    right: 160px;
  
     }
  
  .social li {
    list-style: none;
  }
  
  .social a {
    color: #FAF5E5;
    text-decoration: none;
    font-size: 14px;
  }
  
  .social a span {
    display: none; /* Hides the text, only shows icons */
  }

  .container {
    width: 65% !important;
    height: 100vh;
    right: 450px !important;
    position: absolute;

}

.sticker {
  cursor: pointer;
  width: 18% !important;
  height: auto;
  position: absolute;
}

.sticker21 {
  width: 50% !important;
  height: auto;
  position: absolute;  /* Make the image absolute */
  top: 220px;   
  left:595px;

}

.sticker9 { 
  height: auto;
  position: relative;  /* Make the image absolute */
  top: 200px;   
  left: 150px !important;
  transform: rotate(15deg);

}
  
}

.bg-green {
  background-color: #86397f; 
  color: white;
  padding: 20px;
  margin: -25px;
  top: 700px;
  position: relative;
  height: 15%;
}

.wrap {
  max-width: 1342px;
  margin: 0 auto;
  padding: 10px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.footer-bottom img {
  max-width: 150px;
  height: auto;
}

.contact-info {
  position: absolute;
  right: 950px;
}

.contact-info h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.contact-info p {
  margin: 0 0 10px;
}

.contact-info a {
  color: #FAF5E5;
  text-decoration: none;
}

.house {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FAF5E5;
}

.regular {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FAF5E5;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right nav ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.footer-right nav ul li {
  margin-bottom: 10px;
}

.footer-right nav ul li a {
  color: #FAF5E5;
  text-decoration: none;
  font-size: 14px;
  bottom: 15px;

}

.social {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social img {
  width: 50%;
}

.social-facebook {
position: relative;
bottom: 100px;
left: 50px;
}

.social-insta {
  position: relative;
  bottom: 100px;
}

  .social-youtube {
    position: relative;
    right: 430px;

      }

.social-vimeo {
  position: relative;
  right: 160px;

   }

.social li {
  list-style: none;
}

.social a {
  color: #FAF5E5;
  text-decoration: none;
  font-size: 14px;
}

.social a span {
  display: none; /* Hides the text, only shows icons */
}